body {
    color: aqua;
}

h2 {
    text-align: center;
}

/* Navigation Bar */
.navbar-brand {
    color: aqua;
}

.navbar-brand:hover {
    color: aquamarine;
}

.nav-link {
    color: aqua;
}
.nav-link:hover {
    color: aquamarine;
}

/* Title Menu */
#title {
    background-color: #06113C;
    padding: 5% 15%;
}

.navbar {
    margin: 0 0 5%;
}

.fb-img, .mes-img {
    margin: 0;
}

.btn {
    margin-top: 15px;
}

i {
    margin: 0 5px 0 0;
}

.OpenImg {
    /* transform: rotate(5deg); */
    margin-right: 0;
}

.Intro {
    margin: 10% 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

/* Quotes Section */

#quotes {
    color: #06113C;
    background-color: aqua;
    
}

.fav-quote-title {
    padding-top: 5%;
}

.quotes {
    margin-bottom: 20px;
    padding: 7% 15%;
}

.quote-img {
    border-radius: 100%;
    width: 10%;
}

.carousel-item {
    text-align: center;
    padding: 3% 15%;
    
}

.button-blue {
    /* border-radius: 50%;
    height: 40%;
    width: 10%;
    background-color: #06113C; */
}